<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar: The Last Airbender</title>
  </head>
  <body>
    <div id="app">
      <p v-if="characterList.length === 0">There are no characters</p>
      <ul v-else="characterList.length % 2 === 0">
        <li v-for="character in characterList">
          <p>{{ character.name }}</p>
          <button @click="addToFavorites(character)">Favourite</button>
        </li>
      </ul>
      <p>
        <span v-for="(character, index) in characterList"
          >{{ character.name }}{{ index === characterList.length - 1 ? '' : ', '
          }}
        </span>
      </p>
      {{ averageHeight }} is the average Height
      <p>{{ averageAge }} is the average</p>
      <ul>
        <li v-for="(bender,element) in benders">{{ element }} {{ bender }}</li>
      </ul>
      Age
      <div>
        <ul v-if="favourites.length">
          <h2>Favourites</h2>
          <li v-for="(character,index) in favourites">
            <p>{{ character.name }}</p>
            <button @click="removeFromFavourite(index)">Unfavourite</button>
          </li>
        </ul>
        <p v-else>No favourites yet</p>
      </div>

      <input type="text" v-model="newChar.name" @keyup.enter="addnewchar" />
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          characterList: [
            {
              name: "Aang",
              age: 150,
              height: 120,
              elements: ["Fire", "Air", "Water", "Earth"],
            },
            {
              name: "Zuko",
              age: 21,
              height: 109,
              elements: ["Fire"],
            },
            {
              name: "Toph",
              age: 11,
              height: 135,
              elements: ["Earth"],
            },
            {
              name: "Katara",
              age: 19,
              height: 137,
              elements: ["Water"],
            },
          ],
          favourites: [],
          newChar: {
            name: "",
            elements: [],
          },
        }),
        computed: {
          averageHeight() {
            return (
              this.characterList.reduce((acc, per) => acc + per.height, 0) /
              this.characterList.length
            );
          },
          averageAge() {
            return (
              this.characterList.reduce((acc, person) => acc + person.age, 0) /
              this.characterList.length
            );
          },
          benders() {
            const elements = ["Fire", "Air", "Water", "Earth"];
            const stats = {
              Air: 0,
              Water: 0,
              Earth: 0,
              Fire: 0,
            };

            this.characterList.forEach((character) => {
              elements.forEach((element) => {
                if (character.elements.includes(element)) {
                  stats[element] += 1;
                }
              });
            });
            return stats;
          },
        },
        methods: {
          addToFavorites(character) {
            this.favourites.push(character);
          },
          removeFromFavourite(index) {
            this.favourites.splice(index, 1);
          },
          addnewchar() {
            this.characterList.push(this.newChar);
            this.newChar = {
              name: "",
            };
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
